@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-white text-black h-full;
    font-family: "Source Sans 3", sans-serif;
  }
}
html,
body {
  height: 100%;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll; /* or auto */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
[data-vaul-drawer][data-vaul-drawer-direction="bottom"]::after {
  display: none;
}
.card_gradient {
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0) 60.98%,
    #333333 93.29%
  );
}

.common_container {
  @apply px-8 md:px-10;
}
