@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-white text-black h-full;
    font-family: "Source Sans 3", sans-serif;
  }
}
html,
body {
  height: 100%;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll; /* or auto */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
[data-vaul-drawer][data-vaul-drawer-direction="bottom"]::after {
  display: none;
}
.card_gradient {
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0) 60.98%,
    #333333 93.29%
  );
}

.common_container {
  @apply px-8;
}

textarea {
  resize: none;
}

.font_fredoka {
  font-family: "Fredoka", sans-serif;
}

.img_gradient {
  background: linear-gradient(180deg, rgba(92, 64, 51, 0) 47.02%, #161616 100%);
}
