/* app/styles/globals.css */
@import 'tailwindcss';
@import './theme.css';
@import './typography.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@variant dark (&:is(.dark *));

@layer utilities {
  body {
    font-family:
      var(--font-source-sans), 'Source Sans Pro', system-ui, sans-serif;
  }
}

@layer base {
  body {
    @apply bg-white text-black;
  }
  h1 {
    font-family: 'Fredoka', sans-serif;
  }
}
