@theme {
  --color-dark-brown: #5c4033;
  --color-light-grey: #9b9b9b;
  --color-dark-grey: #333333;
  --color-grey-100: #e9e9e9;
  --color-grey-200: #73665c;
  --color-yellow: #ffb510;
  --color-blue: #004aad;
}
