@layer components {
  .display_t {
    @apply text-[72px] leading-[1.1] font-normal md:text-[96px] lg:text-[120px];
    font-family: "Fredoka", sans-serif;
  }
  .display1 {
    @apply text-[56px] leading-[1.1] font-normal  md:text-[80px] lg:text-[96px];
    font-family: "Fredoka", sans-serif;
  }
  .display2 {
    @apply text-[48px] leading-[1.1] font-normal  md:text-[64px] lg:text-[80px];
    font-family: "Fredoka", sans-serif;
  }
  .display2_medium {
    @apply text-[48px] leading-[1.1] font-medium  md:text-[64px] lg:text-[80px];
    font-family: "Fredoka", sans-serif;
  }
  .display3 {
    @apply text-[40px] leading-[1.1] font-normal  md:text-[48px];
    font-family: "Fredoka", sans-serif;
  }
  .display4 {
    @apply text-[32px] leading-[1.1] font-normal  md:text-[40px] lg:text-[48px];
    font-family: "Fredoka", sans-serif;
  }
  .display4_medium {
    @apply text-[32px] leading-[1.1] font-medium  md:text-[40px] lg:text-[48px];
    font-family: "Fredoka", sans-serif;
  }
  .display5_medium {
    @apply text-[48px] leading-[1.1] font-medium  md:text-[54px] lg:text-[62px];
    font-family: "Fredoka", sans-serif;
  }
  .heading1 {
    @apply text-[28px] leading-[1.1] font-normal  md:text-[32px] lg:text-[40px];
    font-family: "Fredoka", sans-serif;
  }
  .heading1_medium {
    @apply text-[28px] leading-[1.1] font-medium  md:text-[32px] lg:text-[40px];
    font-family: "Fredoka", sans-serif;
  }
  .heading2 {
    @apply text-[24px] leading-[1.1] font-normal  md:text-[28px] lg:text-[32px];
    font-family: "Fredoka", sans-serif;
  }
  .heading2_semibold {
    @apply text-[24px] leading-[1.1] font-semibold  md:text-[28px] lg:text-[32px];
    font-family: "Fredoka", sans-serif;
  }
  .heading2_medium {
    @apply text-[24px] leading-[1.1] font-medium  md:text-[28px] lg:text-[32px];
    font-family: "Fredoka", sans-serif;
  }
  .heading3 {
    @apply text-xl leading-[1.1] font-normal  md:text-[22px] lg:text-[24px];
    font-family: "Fredoka", sans-serif;
  }
  .heading3_medium {
    @apply text-xl leading-[1.1] font-medium  md:text-[22px] lg:text-[24px];
    font-family: "Fredoka", sans-serif;
  }
  .heading4 {
    @apply text-base leading-[22px] font-normal  md:text-[18px] lg:text-xl;
    font-family: "Fredoka", sans-serif;
  }
  .heading4_medium {
    @apply text-base leading-[22px] font-medium md:text-[18px] lg:text-xl;
    font-family: "Fredoka", sans-serif;
  }
  .tp_small_medium {
    @apply text-xs font-medium;
    font-family: "Fredoka", sans-serif;
  }

  .body_large_medium {
    @apply text-base leading-[1.4] font-medium font-['Source_Sans_3'];
    font-family: "Fredoka", sans-serif;
  }
  .body_large {
    @apply text-base leading-[1.4] font-normal font-['Source_Sans_3'];
    font-family: "Source Sans 3", sans-serif;
  }

  .body_regular {
    @apply text-sm leading-[1.4] font-normal font-['Source_Sans_3'] md:text-base;
    font-family: "Source Sans 3", sans-serif;
  }
  .body_medium {
    @apply text-sm leading-[1.4] font-medium font-['Source_Sans_3'] md:text-base;
    font-family: "Source Sans 3", sans-serif;
  }
  .body_small {
    @apply text-xs leading-[1.4] font-normal font-['Source_Sans_3'] md:text-sm;
    font-family: "Source Sans 3", sans-serif;
  }
  .body_small {
    @apply text-xs leading-[1.4] font-normal font-['Source_Sans_3'] md:text-sm;
    font-family: "Source Sans 3", sans-serif;
  }
  .body_xs {
    @apply text-[10px] leading-[1.4] font-normal font-['Source_Sans_3'] md:text-xs;
    font-family: "Source Sans 3", sans-serif;
  }

  .button1 {
    @apply text-base leading-[1.2] font-semibold font-['Source_Sans_3'] md:text-[18px] lg:text-xl;
    font-family: "Source Sans 3", sans-serif;
  }
  .button2 {
    @apply text-sm leading-[1.2] font-semibold font-['Source_Sans_3'] md:text-base;
    font-family: "Source Sans 3", sans-serif;
  }

  .caption {
    @apply text-[10px] leading-[1.4] font-normal font-['Source_Sans_3'] md:text-xs;
    font-family: "Source Sans 3", sans-serif;
  }
  .menu_link_medium {
    @apply lg:text-xl font-medium;
    font-family: "Fredoka", sans-serif;
  }
}
