@layer components {
  .display_t {
    @apply text-[72px] leading-[1.1] font-normal md:text-[96px] lg:text-[120px];
    font-family: "Fredoka", sans-serif;
  }
  .display1 {
    @apply text-[56px] leading-[1.1] font-normal  md:text-[80px] lg:text-[96px];
    font-family: "Fredoka", sans-serif;
  }
  .display2 {
    @apply text-[48px] leading-[1.1] font-normal  md:text-[64px] lg:text-[80px];
    font-family: "Fredoka", sans-serif;
  }
  .display3 {
    @apply text-[40px] leading-[1.1] font-normal  md:text-[48px] lg:text-[64px];
    font-family: "Fredoka", sans-serif;
  }
  .display4 {
    @apply text-[32px] leading-[1.1] font-normal  md:text-[40px] lg:text-[48px];
    font-family: "Fredoka", sans-serif;
  }

  .heading1 {
    @apply text-[28px] leading-[1.1] font-normal  md:text-[32px] lg:text-[40px];
    font-family: "Fredoka", sans-serif;
  }
  .heading2 {
    @apply text-[24px] leading-[1.1] font-normal  md:text-[28px] lg:text-[32px];
    font-family: "Fredoka", sans-serif;
  }
  .heading3 {
    @apply text-[20px] leading-[1.1] font-normal  md:text-[22px] lg:text-[24px];
    font-family: "Fredoka", sans-serif;
  }
  .heading4 {
    @apply text-[16px] leading-[1.1] font-normal  md:text-[18px] lg:text-[20px];
    font-family: "Fredoka", sans-serif;
  }

  .body_large {
    @apply text-[16px] leading-[1.4] font-normal font-['Source_Sans_3'] md:text-[18px] lg:text-[20px];
    font-family: "Source Sans 3", sans-serif;
  }
  .body_regular {
    @apply text-[14px] leading-[1.4] font-normal font-['Source_Sans_3'] md:text-[16px];
    font-family: "Source Sans 3", sans-serif;
  }
  .body_medium {
    @apply text-[14px] leading-[1.4] font-medium font-['Source_Sans_3'] md:text-[16px];
    font-family: "Source Sans 3", sans-serif;
  }
  .body_small {
    @apply text-[12px] leading-[1.4] font-normal font-['Source_Sans_3'] md:text-[14px];
    font-family: "Source Sans 3", sans-serif;
  }
  .body_xs {
    @apply text-[10px] leading-[1.4] font-normal font-['Source_Sans_3'] md:text-[12px];
    font-family: "Source Sans 3", sans-serif;
  }

  .button1 {
    @apply text-[16px] leading-[1.2] font-semibold font-['Source_Sans_3'] md:text-[18px] lg:text-[20px];
    font-family: "Source Sans 3", sans-serif;
  }
  .button2 {
    @apply text-[14px] leading-[1.2] font-semibold font-['Source_Sans_3'] md:text-[16px];
    font-family: "Source Sans 3", sans-serif;
  }

  .caption {
    @apply text-[10px] leading-[1.4] font-normal font-['Source_Sans_3'] md:text-[12px];
    font-family: "Source Sans 3", sans-serif;
  }
}
